<template>

<!-- allign all buttons next to eachother at the same size -->
<div class="btn-group" role="group" aria-label="Basic example"> 
  <button type="button" class="btn btn-primary" @click="onCreate">Create</button>
  <button type="button" class="btn btn-primary" @click="onRead">Read</button>
  <button type="button" class="btn btn-primary" @click="onUpdate">Update</button>
  <button type="button" class="btn btn-primary" @click="onDelete">Delete</button>
</div>

<!-- allign input field next to eachother at the same size in a row-->

    <div id="app" >
      <form @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="containernr"></label>
          <input type="text" class="form-control" id="containernr" v-model="shipment.containernr" placeholder="containernr">
        </div>
        <div class="form-group">
          <label for="mblnumber"></label>
          <input type="text" class="form-control" id="mblnumber" v-model="shipment.mblnumber" placeholder="mblnumber">
        </div>
        <div class="form-group">
          <label for="scac_code"></label>
          <input type="text" class="form-control" id="scac_code" v-model="shipment.scac_code" placeholder="scac_code">
        </div>
        <div class="form-group">
          <label for="atd_time"></label>
          <input type="text" class="form-control" id="atd_time" v-model="shipment.atd_time" placeholder="atd_time">
        </div>
        <div class = "form-group">
          <label for="atd_time"></label>
          <Datepicker v-model="shipment.eta_time" placeholder="atd_time" />
        </div>
        <div class = "form-group">
          <label for="eta_time"></label>
          <Datepicker v-model="shipment.eta_time" placeholder="eta_time" />
        </div>
        <div class="form-group">
          <label for="messagefunction"></label>
          <input type="text" class="form-control" id="messagefunction" v-model="shipment.messagefunction" placeholder="messagefunction">
        </div>
        
        <!-- <input type="text" v-model="shipment.containernr" placeholder="containernr" />
        <input type="text" v-model="shipment.mblnumber" placeholder="mblnumber" />
        <input type="text" v-model="shipment.scac_code" placeholder="scac_code" />
        <Datepicker v-model="shipment.atd_time" placeholder="atd_time" />
        <input type="text" v-model="shipment.eta_time" placeholder="eta_time" />
        <input type="text" v-model="shipment.messagefunction" placeholder="messagefunction" /> -->
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div v-if="result">
          {{ result }}
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  export default {
    data() {
      return {
        shipment: {
          containernr: '',
          mblnumber: '',
          scac_code: '',
          atd_time: '',
          eta_time: '',
          messagefunction: '',
        },
        result: null,
      };
    },
    methods: {
      onSubmit() {
        //make an api call to the backend
        // set Access-Control-Allow-Origin header
        // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
        //axios.defaults.headers.post['Content-Type'] ='application/json';
        axios
          .post('http://localhost:8000/shipments', this.shipment)
          .then(response => {
            this.result = response.data;
          })
          .catch(error => {
            this.result = error.message;
          });
      },
    },
  };



  </script>

    <script setup>
  import { ref } from 'vue';
  import Datepicker from '@vuepic/vue-datepicker';
  import './datepicker.css';
  
  const date = ref();

  </script>
  
  <style>
  #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3f88d1;
  margin-top: 80px;
}
</style>