<script setup>

import CrudForm from './CrudForm.vue'
</script>

<template>
  <CrudForm>
    <!-- <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>crud</template>

    Vue’s
    <a href="https://vuejs.org/" target="_blank" rel="noopener">official documentation</a>
    provides you with all information you need to get started. -->
  </CrudForm>

  <Playgdound />
</template>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>